@media screen and (max-width: 640px) {
  .banner {
    height:8%;
  }
  .date_a, .title_a, .image_a, .price_a {
    display: inline-block;
    float: left;
    margin: 0 15px 0 10px;
}
.price_a {
	float:right;
	margin-top: 65px;
}

.m-hide {
	display:none;
}

.detail_contact>div>img{

max-width: 20%;
}
.detail_contact>div{
  font-weight: bold;
}
.figure{
  margin:0em;
}
.detail_info li {
    border: none;
    color: #f4f4f4;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    text-align: none;
}
ul, ol {
    margin-bottom: 10px;
    margin-top: 0;
    margin-left:-30px;
}
.form_container {
    border: 1px solid #e2e5d1;
    margin-bottom: 0;
    margin-top: 0;
}
.form_container > div {
    border: 2px dotted #e2e5d1;
    margin: 0;
    padding: 2em;
}
.area{
  width:45%;
  height: 15%;
}
.banner h1{
font-size: 350%;
}
}