/*Body*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #FFF;
    background-image: url('../img/bg7.png');
}
.msgerreur{
	background-color: rgb(242, 176, 176);
height: 2.5em;
}

.msgerreur img {width: 20px;}
.nav_bar{
	border:1px solid #E2E5D1 ;
	background-color: #3D3234;
	padding: 5px;
	text-align: center;	
	margin: 1px 1px 0px 1px;
	background-image: url('../img/bg1.png');
}

.images_petit {
width:100px;
height:100px;
}
.separator{
color: rgba(226, 229, 209, 0.51);
font-weight: bold;
font-size: 1em;
margin-left: 2em;
margin-right: 2em;
}

.menu_link {
    border: 1px solid #3D3234;
    background-image: url('../img/bg1.png');
    color: #f4f4f4;
    text-align: center;
    font-family: Helvetica;
    font-size: 1em;
    padding: 3px 15px;
    font-weight: bold;
    
}

.menu_link:focus{
	color: #f4f4f4;
	text-decoration: none;
	outline: none;
}

.menu_link:hover{
	color:#3D3234;
	background-color: #D9241B;
	background-image: url('../img/bg7.png');
	text-decoration: none;
}


.banner{
	background-image: url('../img/banner.png');
	text-align: center;
	border: 1px solid #E2E5D1;
	margin: 2px 2px 0px 2px;
	padding: 5em;
}

@font-face {
    font-family: myFirstFont;
    src: url(../font/story.otf);
}
.banner h1{
	color: #E2E5D1;
font-size: 500%;
font-family: myFirstFont;
}

/*---------------------------*/
.section_category{
    text-align: center;
    padding: 2em;
margin-top: 1em;
margin-bottom: 0.4em;
float: left;
display: inline-block;
background-image: url('../img/bg7.png');
}

.category_title{
background-image: url('../img/bg1.png');
margin: -27px 0px 0px -27px;
padding: 0.1em;
width:100%;
}


.category{
border: 2px solid #E2E5D1;
margin: 1.5em;
padding: 8px 0px 0px 0px;
}
.category:hover{
background-color:  #f4f4f4;
text-decoration: none;
}


div[class^='image_cat']{
	width: 196px;
height: 89px;
}

.image_cat1{
	background: url('../img/category.png') no-repeat scroll -2042px -2px transparent;
}
.image_cat2{
	background: url('../img/category.png') no-repeat scroll -1842px -2px transparent;
}
.image_cat3{
	background: url('../img/category.png') no-repeat scroll -1642px -2px transparent;
}
.image_cat4{
	background: url('../img/category.png') no-repeat scroll -1442px -2px transparent;
}
.image_cat5{
	background: url('../img/category.png') no-repeat scroll -1240px -2px transparent;
}
.image_cat6{
	background: url('../img/category.png') no-repeat scroll -1042px -2px transparent;
}

.caption_cat{
	height: 41px;
border-radius: 0px 0px 3px 3px;
text-shadow: 0px 1px rgba(255, 255, 255, 0.2);
border-top: 1px solid #F4F7F9;
background-image: url('../img/bg1.png');

}
.caption_cat h5{
	font-size: 12px;
	line-height: 39px;
	margin: 5px 0px 0px 4px;
font-weight: bold;
color: #f4f4f4;
}


/*----------------------------*/
.aside{
margin-top: 1em;
display: inline-block;
padding: 0px;
padding-bottom: 0.5em;
background-image: url('../img/bg7.png');

}

.aside_title{
	text-align: center;
	border-bottom: 1px solid #E2E5D1;
	border-top: 1px solid #E2E5D1;
	margin: 0px;
	background-color: #f4f4f4;
	background-image: url('../img/bg1.png');

}
.aside_title > h4,.category_title>h4{
	color: #f4f4f4;
font-weight: bold;
font-family: Helvetica;
font-size: 1.1em;
}

.aside_city li {
 border: 2px solid #E2E5D1;
text-align: center;
font-family: Helvetica;
font-weight: bold;
cursor: pointer;
width: 39%;
float: left;
list-style: none;
/*background-image: url('../img/bg1.png');
color: #f4f4f4;*/
}
.aside_city li:hover{
	background-image: url('../img/bg1.png');
	/*background: #D9241B;*/
	color: #f4f4f4;
}


/*----------------------*/
.footer{
	border:2px solid #E2E5D1 ;
	background-color: #3D3234;
	padding: 0px;
	text-align: center;	
	margin: 0px;
	color: #E2E5D1;
	clear: both;
	background-image: url('../img/bg1.png');
}


/**************************************************/
			/*Page Search.html*/

.barre_search{
	border: 1px solid;
	padding: 40px;
	margin: 10px 2px 10px 0px;
	text-align: center;
	background-image: url("../img/banner.png");
}

.barre_search input , .barre_search  select{
	margin: -40px 10px 0px;
width: 17em;
}

.btn{
	float: right;
	float: right;
padding-right: 3em;
padding-left: 3em;
margin-right: 1.2em;
background-image: url('../img/bg7.png');
font-weight: bold;
}
.btn:hover{
	/*background:rgba(156, 60, 60, 1);*/
	background-image: url('../img/bg7.png');
	color: #011527;
}


.result{
}

.detail{
display: inline-block;
}

.annonce{
	border: 1px solid #E2E5D1;
padding: 12px 0px 132px;
margin: 1em;
cursor: pointer;
/*background-image: url('../img/bg1.png');*/
box-shadow: 5px 5px 5px 2px rgba(1, 2, 1, 0.21);
}

.annonce:hover,.v_a_d:hover{
	background-image: url("../img/banner.png");
	color: #f4f4f4;
}

.vedette{
border: 1px solid #E2E5D1;
margin: 1em;
float: right;
}

/***************************/
.date_a,.title_a,.image_a,.price_a{
float: left;
display: inline-block;
margin: 0px 30px 0px 18px;
/*color: #f4f4f4;*/
}

.date_a{
	margin-top: 1em;
}

.image_a{
	
}

.title_a{
	margin-top: 3em;
}

.price_a{
	margin-top: 7em;
	float: right;
}


/*****************************/
.v_a_d,.vedette_a{
	text-align: center;
}

.vedette_a{
	margin-top: 0.5em;
	cursor: pointer;
}

/****************************/
.detail_container{
	border: 1px solid #E2E5D1;
	padding: 2em;
	margin-top: 1em;
margin-bottom: 1em;
}

.detail_annonce{
	border: 1px solid #E2E5D1;
display: inline-block;
}

.figure p {
  text-align: center;
  font-style: italic;
  font-size: small;
  font-weight: bold;
  text-indent: 0;
}
.figure{
 border: thin silver solid #E2E5D1;
  margin: 0.5em;
  padding: 0.5em;
}
.detail_desc{
	border: 1px solid #E2E5D1;
	display: inline-block;
padding: 1em;
margin: 1em;
}
.detail_info{
border: 1px solid #E2E5D1;
float: right;
margin: 1em;
padding: 0.9em;

}

.detail_info li {
	border: 1px dotted #E2E5D1;
	margin: 0.8em;
	padding: 4px 17px 11px;
color: #f4f4f4;
font-weight: bold;
text-align: center;
}

.detail_info,.detail_desc{
	background-image: url('../img/bg1.png');
	color: #f4f4f4;
	font-family: times new roman;
font-size: 15px;
}

/********************************/
.detail_contact{
	border: 1px solid #E2E5D1;
float: right;

}
.user{
	border: 1px solid #E2E5D1;
	background-image: url('../img/bg1.png');
	color: #f4f4f4;
}
.user strong,.pin strong,.time strong,.tel strong, .mail strong{
	margin-left: 4em;
}

.pin,.time,.tel, .mail,.maj{
	margin-top: 1em;
	margin-left: 4px;
}
.pin,.time, .tel,.mail{
	border-bottom: 1px solid #E2E5D1;
}
.maj{
	text-align: center;
}
.maj a{
	margin-left: 2em;
	margin-right:2em;
}

/**************************/
.form_container{
	border: 1px solid #E2E5D1;
margin-bottom: 0.5em;
margin-top: 0.5em;
}

.form_container > div {
 
 padding: 2em;
margin: 2em;
border: 2px dotted #E2E5D1;
margin-left: 7em;

}

.form_input{
	text-align: left;
display: table;
margin-left: 7em;

}

.form_input > input,.form_input > select, .form_input > textarea{
	margin-bottom: 2em;
}

.form_input > input[type|="te"],.form_input > input[type|="email"].form_input > select{
	margin-bottom: 1em;
	width: 198px;
}

.form_title{
	text-align: center;
display: inline-block;
background-image: url('../img/bg1.png');
color: #f4f4f4;
padding: 0px 50px 0px 50px;
}

.subtitle_triangle {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    
    border-color: #011C33 #011C33 #F2F2F2 #F2F2F2;
    border-style: solid;
    border-width: 8px;
    width: 0px;
    height: 0px;
    font-size: 0px;
}


.form_l{
	margin: 2px 5px 0px 0px;
padding: 4px 0px 0px;
width: 140px;
font-size: 1em;
text-align: left;
float: left;
font-weight: bold;
text-align: right;
}

.add_btn{
border: none !important;
display: block;
float: none;
}
.add_btn input{
	background-image: url('../img/bg1.png');
	color: #f4f4f4;
	float: right;
margin-top: 0px;
}



/*Bootstrap*/
.row{
	margin-left: 1.5em;
	margin-right: 1.5em;
}

/*........................*/
.section_login{
border: 1px solid;
padding: 2em 0em 5em 25em;
width: 100%;
}
.container_login{
border: 1px solid;
text-align: center;
width: 30em;
}
.title_login{
padding: 0.5em;
border: 2px solid;
background-image: url("../img/bg1.png");
color: #F5F5F5;
border-top: none;
border-left: none;
border-right: none;
}
.title_login h4{
font-weight: bold;
}

.content_login{
padding: 1em;
}

.content_login div{
	margin-top: 1em;
	text-align: left;
		display: block;
text-align: center;
}

.btnLogin{
	float: right;
width: 10em !important;

}
.content_login input{
	border: 1px solid;
	width: 20em;
}
.pwd{

}
.divBtnLogin{
display: inline-block !important;
margin-left: 2em;
}
.divNewUser{
	padding-right: 1em;
	margin: 0 !important;
text-align: right !important;
padding: 0.1em 1.5em 0em 0em;
border: 1px solid;
background-image: url("../img/bg1.png");

border-top: none;
border-left: none;
border-right: none;

}
.divNewUser a{
	color: #F5F5F5;
	text-decoration: none;

}

/*...................................*/

.linkAnnonce{
	color: #000 ;
}
.linkAnnonce:hover{
	color: #f5f5f5;
	text-decoration: none;
}


/*-------------------*/
.divUpload{
	clear: both;
}
.imageupload{
	display: inline !important;
}

#add_div{
	display: inline-block;
}
