{% extends "main.twig" %}
{% block main_content %}

<section>
		<form enctype="multipart/form-data" method='post'>
		<div class="form_container col-l-12 col-m-12 col-m-center col-ls-12 col-ls-center">
		
			<div class="add_localisation col-l-10 col-m-12 col-ls-10">
				<div class="form_title" >
					<h4 >Localisation</h4>	
				</div>
				<div class="subtitle_triangle"></div>
				<div class="form_input">
					<div class="form_l">Département:</div> 
				<select name='city' id="select_city" required>
					<option></option> 
				{% for dep in departements %}
					<option value={{ dep.id }}>{{dep.name}}</option>
				{% endfor %}
				</select>
					<br>
				</div>

			</div>
			{% if not session.login %}
			<div class="add_categorie  col-l-10 col-m-12 col-ls-10">
				<div class="form_title">
					<h4>Catégorie</h4>
				</div>
				<div class="subtitle_triangle"></div>
				<div class="form_input">
					<div class="form_l">Catégorie:</div> 
					<select name='category' id="select_cat" required>
					<option></option>
				{% for cat in cats %}
					<option value={{ cat.id }}>{{cat.name}}</option>
		
				{% endfor %}
			</select>
					<br>
			</div>
			</div>
			{% endif %}
			{% if not session.login %}
				<div class="add_categorie  col-l-10 col-m-12 col-ls-10">
					<div class="form_title">
						<h4>Vos Coordonnées</h4>
				</div>
				<div class="subtitle_triangle"></div>
				<div class="form_input">
					<div class="form_l">Nom:</div> 
					<input type="text" placeholder="Nom" name='lastname' />
					<br>
					<div class="form_l">Prénom:</div> 
					<input type="text" placeholder="Prénom" name='firstname' />
					<br>
					<div class="form_l">Email:</div> 
					<input type="text" placeholder="Email" name='email' />
					<br>
					<div class="form_l">Téléphone:</div> 
					<input type="tel" placeholder="Téléphone" name='phone' />
					<br>
			</div>
			</div>
			{% endif %}
			<div id="add_annonce" class="add_annonce  col-l-10 col-m-12 col-ls-10">
				<div class="form_title">
					<h4>Votre annonce</h4>
				</div>
				<div class="subtitle_triangle"></div>
				<div class="form_input">
					<div class="form_l">Titre:</div> 
					<input type='text' name='titre' placeholder='Titre' required />
					<br>
					<div class="form_l">Texte de l'annonce:</div> 
					<textarea name='desc' class="area" required ></textarea>
					<br>
					<div class="form_l">Prix:</div> 
					<input type='text' name='price' placeholder='Prix' required /> <strong> £</strong>	<br>
					<div class="form_l">Mot de passe de l'annonce:</div> 
					{% if not session.login %}
					<input type='password' name='mot_passe' placeholder="Mot de passe de l'annonce" required /> 
					{% else %}
					<input type='password' name='mot_passe' placeholder="Mot de passe de l'annonce" required disabled="true"/> 
					{% endif %}
					<br>
					<div class="form_upload">
						<div class="form_l divUpload">Photo:</div> 
						<input class="imageupload" type="file" name="file_array[]" />	
					</div>
					<div id="add_div" >
						<input type="button" class='btn' id="addJsDiv" value="Ajouter une nouvelle photo" />	
					</div>

			</div>
			<div class="add_btn col-l-12 col-m-12">
				<input type="submit" value='Ajouter' name='addAnnonce' class='btn'/>
			</div>

		</div>
		</form>
	</section>

{% endblock main_content %}