{% extends "main.twig" %}
{% block main_content %}
<section>
	<div class="detail_container col-l-12 col-m-12 col-ls-12" style='text-align: center;'>
		<h1>L'annonce n°{{idAdd}} n'a pu être trouvée.</h1>
		<a onclick="history.go(-1);">Retour à la page précédente</a>
	</div>
</section>
{% endblock main_content %}