{% extends "main.twig" %}
{% block main_content %}
<section>
	<div class="detail_container col-l-12 col-m-12 col-ls-12">
	<h1>{{ title }}</h1>

	<li>
		Login : {{ u.login }}
	</li>

	<li>
		Nom : {{ u.lastName }}
	</li>

	<li>
		Prénom : {{ u.firstName }}
	</li>

	<li>
		email : {{ u.email }}
	</li>

	<li>
		Téléphone : {{ u.phone }}
	</li>

	Ce nouvel utilisateur dispose de droit d'administrateur.
	<hr/>
	<a href='/racoin2'>Retour à l'accueil</a>
</div>
</section>


{% endblock main_content %}