{% extends "annonceDetail.twig" %}

{% block fancybox %}
<div style="display:none">
		<div id="divUpdate">
		 <form method="post">
			<p>Veuillez saisir votre mot de passe</p>
			<input type="password" name="Updatepassword" placeholder="Saisissez le mot de passe" />
			<input type="submit" value="valider" name="updateVerify" />
			</form>
		</div>
		<div id="divDelete">
			<form method="post">
			<p>Veuillez saisir votre mot de passe</p>
			<input type="password" name="deletepassword" placeholder="Saisissez le mot de passe" />
			<input type="submit" value="valider" name="deleteVerify" />
		    </form>
		</div>
	</div>
{% endblock fancybox %}