{% extends "main.twig" %}
{% block main_content %}
<section>
	<div class="detail_container col-l-12 col-m-12 col-ls-12">
		<div class="detail_annonce col-l-8 col-m-8 col-ls-8">
			<div class="figure col-l-12 col-m-12 col-ls-12">
			    {% if image %}
				{% for img in image %}
			    {% if loop.first %}
				<a href="/racoin2/{{img.src}}" rel='gallery' class='pirobox_gall'><img src="/racoin2/{{img.src}}" height="500" class='img'/></a>
				 {% else %}
			       <a href="/racoin2/{{img.src}}" rel='gallery' class='pirobox_gall'><img class='images_petit' src="/racoin2/{{img.src}}"/></a>
			      {% endif %}
				{% endfor %}

				{% else %}
					<img src="/racoin2/app/views/img/annonces/placeholder.png" class='img-thumbnail' />

				{% endif %}
				<p>{{annonce.title}}</p>
			</div>
			<div class="detail_desc col-l-7 col-m-6 col-ls-7">
				
				<p>{{annonce.description}}</p>
			</div>
			<div class="detail_info col-l-4 col-m-4 col-ls-3">
				<ul>
					<li> Catégorie : {{category.name}}</li>
					<li> Prix : {{annonce.price}} €</li>
				</ul>
			</div>
		</div>
		<div class="detail_contact col-l-3 col-m-4 col-ls-3">
			<div class="user">
				<img src="/racoin2/app/views/img/user.png">
				{{user.lastname}}
			</div>
			<div class='pin'>
				<img src="/racoin2/app/views/img/pin.png" width="50">
				{{city.name}} - {{city.cp}}
			</div>
			<div class='time'>
				<img src="/racoin2/app/views/img/time.png" width="50">
				{{annonce.date}}
			</div>
			<div class='tel'>
				<img src="/racoin2/app/views/img/tel.png" width="50">
				{{user.phone}}
			</div>
			<div class='mail'>
				<img src="/racoin2/app/views/img/mail.png" width="50">
				{{user.email}}
			</div>
			<div class='maj'>
				<a id="updateAd" title="<strong>Modification</strong>" href="#divUpdate" class="updateIcon"><img src="/racoin2/app/views/img/icon/update.png"></a>
				<a id="deleteAd" title="<strong>Suppression</strong>" href="#divDelete" class="deleteIcon"><img src="/racoin2/app/views/img/icon/delete.png"></a>
				
			</div>
		</div>
	</div>
	
	<div style="display:none">
		<div id="divUpdate">
		 <form method="post">
			<p>Veuillez saisir votre mot de passe</p>
			<input type="password" name="Updatepassword" placeholder="Saisissez le mot de passe" />
			<input type="submit" value="valider" name="updateVerify" />
			</form>
		</div>
		<div id="divDelete">
			<form method="post">
			<p>Veuillez saisir votre mot de passe</p>
			<input type="password" name="deletepassword" placeholder="Saisissez le mot de passe" />
			<input type="submit" value="valider" name="deleteVerify" />
		    </form>
		</div>
	</div>
</section>

{% endblock main_content %}

