{% extends "annonceDetail.twig" %}

{% block fancybox %}
<div style="display:none">
		<div id="divUpdate">
		 <form method="post">
			<p>Veuillez saisir votre mot de passe</p>
			<input type="password" name="Updatepassword" placeholder="Saisissez le mot de passe" />
			<input type="submit" value="valider" name="updateVerify" />
			</form>
		</div>
		<div id="divDelete">
			<form method="post">
			<p><font color='red'><b>Attention, l'annonce sera supprimée.</b></font> Confirmer?</p>

			<input type="submit" value="valider" name="updateVerify" />
			<a href='{{ annonce.id }}'><input type="button" value="Annuler" name="cancelDelete"/></a>
		    </form>
		</div>
	</div>
{% endblock fancybox %}