{% extends "main.twig" %}
{% block main_content %}

<section class="col-l-12 col-m-12">
		<div class="barre_search">
			<input type='text' placeholder='Mots clés' />

			<select> 
				<option>Toutes les catégories</option>
				<option value='Emploi et Services'>Emploi et Services</option>
				<option value='Véhicule'>Véhicule</option>
			</select>

			<select> 
				<option>Toutes la france</option>
				<option value='Lorraine'>Lorraine</option>
				<option value='Paris'>Paris</option>
			</select>

			<button class='btn'>Chercher</button>

		</div>

	</section>


<!-- Annonces -->
{% set foo = 'ok' %}
	<section class="col-l-12 col-m-12">
		<div class="result">
		<div class="detail col-l-8 col-m-11 col-ls-12">	
				
				{% for annonce in annonces %}
				<a href="annonce/{{annonce.id}}" class="linkAnnonce">
				<div class="annonce">
				
					<div class="date_a">
						<small>
							<strong>{{annonce.date}}</strong>
						</small>
					</div>
					{% for image in images %}
					{% if annonce.id == image.id_annonce %}
					<div class="image_a img-thumbnail" >
						<img src = {{ image.src }} width="150" height="100"/>
					</div>
					 {% set foo = 'ok2' %}
				
					{% endif %}
					
				{% endfor %}
				{% if foo == 'ok' %}
					<div class="image_a img-thumbnail" >
						<img src="app/views/img/annonces/placeholder.png" width="150"/>
					</div>
				{% endif %}
				
				
					<div class="title_a">
						<strong>
							{{annonce.title}}
							<br>
							{% for cit in city %}
					          {% if annonce.id_city == cit.id %}
					          
								<small>{{ cit.name }}</small>
								{% endif %}
					
							{% endfor %}
						</strong>
					</div>

					<div class="price_a">
						<strong>{{annonce.price}} €</strong>
					</div>
					
				</div></a>
				{% endfor %}

		</div>

				<div class="vedette col-l-3 col-ls-3 l-show ls-show m-hide ">
						<div class="aside_title">
							<h4>Annonces A la Une</h4>
						</div>
						
						<div class="vedette_a">
							<div class="v_a_d img-thumbnail">
								<img src="app/views/img/annonces/a1.jpg" width="180"/> <br>
								<strong>Street Triple</strong><br>
								<strong>1500 £</strong>

							</div>
						</div>

						<div class="vedette_a">
							<div class="v_a_d img-thumbnail">
								<img src="app/views/img/annonces/a1.jpg" width="180"/> <br>
								<strong>Street Triple</strong><br>
								<strong>1500 £</strong>

							</div>
						</div>

						<div class="vedette_a">
							<div class="v_a_d img-thumbnail">
								<img src="app/views/img/annonces/a1.jpg" width="180"/> <br>
								<strong>Street Triple</strong><br>
								<strong>1500 £</strong>

							</div>
						</div>

					</div>


		</div>


	</section>

{% endblock main_content %}