{% extends "main.twig" %}
{% block main_content %}

<section>
	<div class="detail_container col-l-12 col-m-12 col-ls-12">
		{{ erreur }}
		<hr/>
		<a href='/racoin2'>Retour à l'accueil</a>
	</div>
</section>

{% endblock main_content %}