{% extends "main.twig" %}
{% block main_content %}

<section class='section_category img-thumbnail col-l-9 col-m-12 col-ls-9 col-ls-center'>
		<div class="category_title">
			<h4>Catégories</h4>
		</div>
		<div class="category_content">
		
		{% for cat in cats %}
		
			<a href="http://localhost/racoin2/category/{{ cat.id }}" class='category img-thumbnail'>
				<div class='{{ cat.img }}'>
				
				</div>

				<div class='caption_cat'>
				<h5>{{ cat.name }}</h5>
				</div>
			</a>
		
		{% endfor %}


		
		
		</div>
	</section>
	<aside class="col-l-3 col-m-12 col-ls-3">
		<div class="aside img-thumbnail">
			<div class="aside_title">
				<h4>Départements</h4>
			</div>
			<div class="aside_city">
				<ul>
					{% for city in departements %}	

						<li>{{ city.name }}</li>
					
					{% endfor %}

				</ul>
			</div>
		</div>
	</aside>

{% endblock main_content %}