{% extends "main.twig" %}
{% block main_content %}

<section class='section_login img-thumbnail col-l-12 col-m-12 col-ls-9 col-ls-center'>
		
		<div class="container_login">
			<div class="title_login">
				<h4>Connexion</h4>
			</div>
			<div class="content_login">
				<form action='' method='post'>
					<div class="username">
						<input type="text" name='login' placeholder="Email" />
					</div>
					<div class="pwd">
						<input type="password" name='password' placeholder="Mot de passe" />
					</div>
					<div class="divBtnLogin">
						<input type='submit' value="login" class="btnLogin btn" />
					</div>
					
				</form>

			</div>
			<div class="divNewUser">
				<a href="{{newAccount.href}}"><h4>{{newAccount.text}}</h4></a>
			</div>
		</div>
		
</section>
	

{% endblock main_content %}