<html>
<head>
	<title>{{ title }}</title>
	<meta charset='utf-8'>
	

	{% for css in css_link %}
		<link rel="stylesheet" href="{{ css.href }}">
	{% endfor %}
	{% for js in js_links %}		
		<script type="text/javascript" src="{{js.src}}"></script>
	{% endfor %}

	{% for css in css_links %}		
		<link rel="stylesheet" href="{{ css.href }}">
	{% endfor %}
</head>
<body>
	 <div class="col-l-11 col-l-center col-m-12 col-m-center " >
	 <nav>
	 	<div class='nav_bar'  >
		{% for a in nav_link %}
		<a href="{{ a.href }}" class='{{ a.class }}'>{{ a.text }}</a>

		<span class="separator">|</span>
		{% endfor %}
		<font color="white"><b>{{text}}</b></font>
		</div>
	</nav>

	

	<header class=''>
		<div class="banner ">
			<h1>AnnonceCoin.fr</h1>
		</div>
	</header>
	<div class="row">
		<div class="content col-l-12">	
		{% block main_content %}
					
		{% endblock main_content %}
		</div>	
	</div>


</div>
</div>
</body>
</html>