{% extends "main.twig" %}
{% block main_content %}

<section class='section_login img-thumbnail col-l-12 col-m-12 col-ls-9 col-ls-center'>
		<div class="container_login">
			{% if erreur != null %}
			<div class="msgerreur">
			<img src="app/views/img/icon/erreur-icone.png" />
			 Email existe déjà !
		    </div>
		    {% endif %}
			<div class="title_login">
				<h4>Nouveau compte</h4>
			</div>
			<div class="content_login">
				<form action='{{ action }}' method='post'>
					<div class="lastname">
						<input type="text" placeholder="Nom" id='l' name='lastname' data-validation="custom" data-validation-regexp="^([a-z]+)$"  data-validation-error-msg="le nom doit contenir des caractères"/>
					</div>
					<div class="firstname">
						<input placeholder="Prénom" name='firstname' data-validation="custom" data-validation-regexp="^([a-z]+)$"  data-validation-error-msg="le prénom doit contenir des caractères" />
					</div>
					<div class="pwd">
						<input data-validation="email" placeholder="Email" name='email'  data-validation-error-msg="l'email doit etre valide xxx@xx.xx"/>
					</div>
					<div class="pwd">
						<input type="phone" data-validation="length number" placeholder="Téléphone" data-validation-length="10-15"
						data-validation-error-msg="le téléphone doit contenir 10 nombres" name='phone'/>
					</div>
					<div class="userName">
					<select style=" width: 72%; " name='category' id="select_cat" required>
					<option value="" disabled selected>Catégorie préférée</option>
						{% for cat in cats %}
						<option value={{ cat.id }}>{{cat.name}}</option>
						{% endfor %}
					</select>
					</div>
					<div class="pwd">
						<input type="password" placeholder="Mot de passe" name="password" data-validation="length" data-validation-length="min3" data-validation-error-msg="le mot de passe doit contenir au moins 3 caracatéres" />
					</div>
					<div class="pwdConfirm">
						<input type="password" data-validation="required" placeholder="Retapez votre Mot de passe" data-validation-help="les mots de passe doivent etre identiques"/>
					</div>
					
					<div class="divBtnLogin">
						<input type='submit' value="Valider" class="btnLogin btn" />
					</div>
					
				</form>

			</div>
		</div>
		
</section>
	<script>  $.validate(); </script>

{% endblock main_content %}