{% extends "main.twig" %}
{% block main_content %}

<section>
	<div class="detail_container col-l-12 col-m-12 col-ls-12">
	<div class="container_login">
		<div class="title_login">
				<h4>{{ title }}</h4>
		</div>
		<div class="content_login">
			<form action='{{ action }}' method='post'>
				<div>
					<input type="text" id="label" name="label" placeholder="Libellé de la catégorie" required>
				</div>
				
				<div class="divBtnLogin">
					<input type='submit' value="Valider" class="btnLogin btn" />
				</div>
				
			</form>
		</div>
	</div>
</section>

{% endblock main_content %}