{% extends "main.twig" %}
{% block main_content %}
<section>
<div>
<h4>Prévisualisation de l'annonce</h4>
</div>
	<div class="detail_container col-l-12 col-m-12 col-ls-12">
		<div class="detail_annonce col-l-8 col-m-8 col-ls-8">
		<div>
			<h1>Veuillez vérifier votre annonce avant de valider en bas de page.</h1>
		</div>
			<div class="figure col-l-12 col-m-12 col-ls-12">
				<img src="/racoin2/app/views/img/annonces/placeholder.png" class='img-thumbnail' />
				<p>{{add.title}}</p>
			</div>
			<div class="detail_desc col-l-7 col-m-6 col-ls-7">
				<p>{{add.description}}</p>
			</div>
			<div class="detail_info col-l-4 col-m-4 col-ls-3">
				<ul>
					<li> Catégorie : {{add.cat}}</li>
					<li> Prix : {{add.price}} €</li>
				</ul>
			</div>
		</div>
		<div class="detail_contact col-l-3 col-m-4 col-ls-3">
			<div class='pin'>
				<img src="/racoin2/app/views/img/pin.png" width="50">
				{{add.city}}
			</div>
			<div class='time'>
				<img src="/racoin2/app/views/img/time.png" width="50">
				{{add.date}}
			</div>
			<div class='tel'>
				<img src="/racoin2/app/views/img/tel.png" width="50">
				{{add.tel}}
			</div>
			<div class='mail'>
				<img src="/racoin2/app/views/img/mail.png" width="50">
				{{add.mail}}
			</div>

		</div>
	</div>

	<div id="previewAdd" class="detail_container">
		Votre annonce est-elle correcte ?
		</br>
		
		<form action='../addAnnonce' method='post'>
		<input type="submit" value='Enregistrer' name='addAnnonce' default/>
		<a href='../addAnnonce'><input type="button" value="Annuler" name="cancelAnnonce"/></a>
		</form>
	</div>

</section>

{% endblock main_content %}

