{% extends "main.twig" %}
{% block main_content %}

<section class="col-l-12 col-m-12">
		<div class="barre_search">
		<form action='' method='post'>
			<input type='text' name='mots' placeholder='Mots clés' />

			<select name='cat'> 
				<option selected>Toutes les catégories</option>
				{% for cat in cats %}
					<option value={{ cat.id }}>{{cat.name}}</option>
		
				{% endfor %}
			</select>

			<select name='dep'> 
				<option selected>Toutes la france</option>
				{% for dep in departements %}
					<option value={{ dep.id }}>{{dep.name}}</option>
				{% endfor %}
			</select>

			<button class='btn' type='submit' name='btnSearch'>Chercher</button>
		</form>
		</div>

	</section>

	<section class="col-l-12 col-m-12">
		<div class="result">
		<div class="detail col-l-8 col-m-11 col-ls-8">	
				{% for annonce in annonces %}

				<div class="annonce">
					<div class="date_a">
						<small>
							<strong>{{annonce.date}}</strong>
						</small>
					</div>

					<div class="image_a img-thumbnail" >
						<img src="app/views/img/annonces/placeholder.png" width="150"/>
					</div>

					<div class="title_a">
						<strong>
							<a href="annonce/{{annonce.id}}">{{annonce.title}}</a>
							<br>
							<small> Nancy </small>
						</strong>
					</div>

					<div class="price_a">
						<strong>{{annonce.price}} €</strong>
					</div>

				</div>
				{% endfor %}
		</div>

			<div class="vedette col-l-3 col-ls-3 l-show ls-show m-hide ">
				<div class="aside_title">
					<h4>Annonces A la Une</h4>
				</div>
				
				<div class="vedette_a">
					<div class="v_a_d img-thumbnail">
						<img src="app/views/img/annonces/a1.jpg" width="180"/> <br>
						<strong>Street Triple</strong><br>
						<strong>1500 £</strong>

					</div>
				</div>

				<div class="vedette_a">
					<div class="v_a_d img-thumbnail">
						<img src="app/views/img/annonces/a1.jpg" width="180"/> <br>
						<strong>Street Triple</strong><br>
						<strong>1500 £</strong>

					</div>
				</div>

				<div class="vedette_a">
					<div class="v_a_d img-thumbnail">
						<img src="app/views/img/annonces/a1.jpg" width="180"/> <br>
						<strong>Street Triple</strong><br>
						<strong>1500 £</strong>

					</div>
				</div>

			</div>
		</div>
	</section>

{% endblock main_content %}