{% extends "main.twig" %}
{% block main_content %}

<section>
		<form action='' method='post'>
		<div class="form_container col-l-12 col-m-12 col-m-center col-ls-12 col-ls-center">
		
			<div class="add_localisation col-l-10 col-m-12 col-ls-10">
				<div class="form_title" >
					<h4 >Localisation</h4>	
				</div>
				<div class="subtitle_triangle"></div>
				<div class="form_input">
					<div class="form_l">Département:</div> 
				<select name='city'> 
				<option>Toutes la france</option>
				{% for dep in departements %}
					{% if dep.id == annonce.id_city %}
   						 <option selected value={{ dep.id }}>{{dep.name}}</option>
   					{% else %}

					      <option value={{ dep.id }}>{{dep.name}}</option>
					{% endif %}
				{% endfor %}
				</select>
					<br>
				</div>

			</div>

			<div class="add_categorie  col-l-10 col-m-12 col-ls-10">
				<div class="form_title">
					<h4>Catégorie</h4>
				</div>
				<div class="subtitle_triangle"></div>
				<div class="form_input">
					<div class="form_l">Catégorie:</div> 
					<select name='category'> 
				<option>Toutes les catégories</option>
				{% for cat in cats %}
					{

					{% if cat.id == annonce.id_category %}
   						 <option selected value={{ cat.id }}>{{cat.name}}</option>
   					{% else %}

					      <option value={{ cat.id }}>{{cat.name}}</option>
					{% endif %}
					}
		
				{% endfor %}
			</select>
					<br>
			</div>
			</div>
			<div class="add_annonce  col-l-10 col-m-12 col-ls-10">
				<div class="form_title">
					<h4>Votre annonce</h4>
				</div>
				<div class="subtitle_triangle"></div>
				<div class="form_input">
					<div class="form_l">Titre:</div> 
					<input type='text' name='titre' value={{ annonce.title }} />
					<br>
					<div class="form_l">Texte de l'annonce:</div> 
					<textarea name='desc'class="area" >{{ annonce.description }}</textarea>
					<br>
					<div class="form_l">Prix:</div> 
					<input type='text' name='price' value={{ annonce.price }} /> <strong> £</strong>	
					<br>
					<div class="form_l">Photo:</div> 
					<input class="imageupload" name="images[]" accept="image/jpeg,image/gif,image/png,image/bmp" multiple="" type="file">			
				</div>
				<div class="add_btn col-l-12 col-m-12">
				<input type="submit" value='Modifier' class='btn'/>
			</div>
			</div>
			

		</div>
		</form>
	</section>

{% endblock main_content %}