{% extends "main.twig" %}
{% block main_content %}
<section>
	<div class="detail_container col-l-12 col-m-12 col-ls-12">
	<h1>{{ title }}</h1>

	<li>
		Nom d'utilisateur : {{ u.email }}
	</li>

	<li>
		Nom : {{ u.lastname }}
	</li>

	<li>
		Prénom : {{ u.firstname }}
	</li>
	<li>
		Téléphone : {{ u.phone }}
	</li>
		<li>
		Catégorie Préférée : {{ Category }}
	</li>
	<br/>
	{% if session.login %}
		<a href='/racoin2/myAds'>Plus d'informations</a>
	{% endif %}
	
</div>
</section>


{% endblock main_content %}